.container {
    /* max-width: 144rem; */
    width: 100%;
    margin: 0 auto;
    /* background-color: var(--color-gray-light-1); */
    display: flex;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.10);
    min-height: 100vh;

}


.sidebar {
    min-width: 25rem;
}

.section {
    width: calc(100% - 25rem);
    border-right: var(--color-gray-light-1);
}

.header {
    height: 7.2rem;
    border-bottom: 1px solid var(--color-gray-light-1);
}

.main {
    height: 100%;
}

.nav {}

.nav__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 17px 8px;
    border-radius: 8px;
    /* color: var(--color-primary) !important; */
}