@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  --color-primary: #110066;
  --color-primary-light: #F0FBFF;

  --color-gray-dark-1: #818FA3;
  --color-gray-dark-2: #90979E;
  --color-gray-dark-3: #C0C9D2;

  --color-gray-light-1: #FCFCFD;
  --color-gray-light-2: #F9FAFA;
  --color-gray-light-3: #F0F2F4;
  --color-gray-light-4: #DFE4E8;

  --color-black-default: #0A1F44;


}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  color: var(--color-gray-dark-2);
  font-weight: 400;
  font-family: 'SF Pro Display', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */

}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.scroll_hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.ads_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.6rem, 1fr));
  grid-column-gap: 2.3rem;
  grid-row-gap: 4rem;
  margin-bottom: 8.6rem;
}